.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: #ffeead;
}

html, body {
  box-sizing: border-box;
  background-color: #ffeead;
  height: 100%;
  padding: 10px;
  margin: 0px;
}

.container-1 {
    background-color: #7B64DD;	
}

.container > div:nth-child(3n) {
    background-color: #35C5BE;
}

.container > div:nth-child(2n) {
    background-color: #35C5BE;
}

.container > div:nth-child(4n) {
    background-color: #7B64DD;;
}
